.App {
  margin: 100px;
  border: 1px solid #e3e3e3;
  width: 60vw;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  background-color: lightblue;
  color: white;
}
li {
  list-style-type: none;
  line-height: 30px;
}
.todo-box {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 12px 20px 12px 0;
}
.input-container {
  display: flex;
  width: 100%;
}
.todoInput {
  width: 80%;
  border: 1px solid #e3e3e3;
  padding: 5px;
}
.submitButton {
  width: 20%;
  background-color: orange;
  color: white;
  border: none;
}
